*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    padding: 300px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient( 45deg, rgb(44, 43, 43), rgb(0, 140, 255), orange);
    background-size: 500% 100%;
    animation: degrade-animation 5s infinite alternate;
}
@keyframes degrade-animation {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
    animation: fade-in 3s 1;
}


.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f0e8e8;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #000;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
    
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
    animation: slideInRight 1s 1;
}
::placeholder{
    font-weight: 500;
    color: #222;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #f3e9e9;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
section a{
    color: #f3e9e9;
}
.input-submit{
    position: relative;
    
}
.input-submit::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.submit-btn{
    width: 100%;
    height: 30px;
    background: #747474;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
    animation: slideInRight 1s 1;
}

.input-submit label{
    position: absolute;
    top: 47%;
    left: 50%;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.2);
    z-index: -1;
}



.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    
}
.sign-up-link a{
    padding: 8px;
    color: #f3e9e9;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .5s;
    display: block;
    position: relative;
    margin-top: 10px;
    z-index: 1;
    animation: slideInRight 1s 1;  
    outline: none;
    background: #747474;
    border: none;
    border-radius: 30px;
    
}
.sign-up-link a:hover{
    transform: scale(1.2);
    background: #000;
    border-radius: 30px;
    border: none;
    outline: none;

}

.sign-up-link a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: #1d1c1c;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
}
.sign-up-link a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    transition: transform .2s;
}
.sign-up-link p{
color: #f3e9e9;
}


